/* Reset básico para márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    font-size: 100%;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    /* Espacio entre el logo y el menú */
    align-items: center;
    padding: .6rem 1.5rem;
    background-color: transparent;
    background-color: #831c18;
    color: #fff;
    font-family: "Sancreek", serif;
    font-style: normal;
    /* Hace que el header sea fijo */
    width: 100%;
    position: fixed;
    z-index: 1000;
    height: 4.8rem;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

header.transparent {
    background-color: transparent;
}

/* Logo */
.cabecera img {
    width: 4rem;
    height: 4rem;
}

/* Menú */
nav.menu ul {
    list-style: none;
    display: flex;
}

nav.menu ul li {
    margin-left: .9375rem;
}

nav.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.40rem;
}

nav.menu ul li a:hover {
    color: #edd074;
    /* Color de hover */
}

/* Icono hamburguesa */
.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
    z-index: 1001;
    /* Por encima del menú */
}


/* Menú móvil: Lo agrego aqui para no repetir código 
en las media queries y solo definir tamaños para cada una*/
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.96);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.4s ease-in-out;
    z-index: 1000;
}

.mobile-menu.open {
    right: 0;
}

.mobile-menu ul {
    list-style: none;
    text-align: center;
}

.mobile-menu a {
    display: block;
    padding: 1.25rem;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* SECCIONES */
.seccion {
    position: sticky;
    align-items: flex-start;
    width: 100%;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.contenido-seccion {
    flex: 1 0 100%;
    margin-top: -2.5rem;
    /* padding-top: 1rem; */
}

.seccion.activo {
    position: relative !important;
    z-index: 999 !important;
    transition: all 0.3s ease;
}

/* Contenedor principal que ocupa toda la página */
.portada {
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}


/* Video de fondo, se ajusta a toda la pantalla */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.2);
}

/* Logo centrado en la página */
.logo {
    position: relative;
    z-index: 1;
}

.logo img {
    width: 20.625rem;
    /* Ajusta según el tamaño del logo */
    height: 23.125rem;
    /* height: auto; */
}

/* Plataformas musicales más arriba */
.platforms {
    display: flex;
    gap: .9375rem;
    margin-top: -50px;
    z-index: 10;
}

.platforms a {
    color: #fff;
    font-size: 1.5625rem;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    /* Transición suave */
}

/* Asegurar que los íconos hereden color del enlace */
.platforms a i {
    color: inherit;
    transition: inherit;
}

.platforms a:hover {
    transform: scale(1.1);
    /* Efecto zoom pequeño */
}

/* Facebook */
.platforms a.facebook:hover {
    color: #145DBF;
}

/* Instagram */
.platforms a.instagram:hover {
    color: #C13549;
}

/* Spotify */
.platforms a.spotify:hover {
    color: #1DB954;
    /* verde característico de Spotify */
}

/* YouTube */
.platforms a.youtube:hover {
    color: #CC0000;
}


h2 {
    font-family: "Sancreek", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 1.25rem;
    color: #fff;
}

/* Sección siguiente a la que se desplazará el botón */
.historia {
    height: 100vh;
    text-align: center;
    background: linear-gradient(135deg, #2b2b3a, #1c1c1c, #121212);
    box-shadow: 0 -0.625rem 1.875rem rgba(22, 20, 20, 0.2);
    z-index: 1;
}

.panel-historia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    padding: 1.25rem;
}

.historia-imagen,
.historia-texto {
    flex: 1;
    /* Ocupa 50% cada uno */
}

.historia-imagen img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(0.5);
}

.historia-texto p {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
    /* Justifica el texto */
    font-size: 1.6rem;
    color: #edd074;
}

/* EFECTO DE ELEMENTOS AL CAMBIAR DE SECCIÓN */
.elemento {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    will-change: opacity, transform;
}

.elemento.hidden {
    opacity: 0;
    transform: translateY(20px);
}

/* SECCIÓN MÚSICA */
.musica {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.musica::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(img/fondo-musica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    z-index: -1;
}

.musica .contenido-seccion {
    position: relative;
    z-index: 1;
    text-align: center;
}

.panel-musica {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;

}

.musica-spotify,
.musica-discografia {
    flex: 1;
    /* Ocupa 50% cada uno */
}

.iframe-Spotify {
    width: 100%;
    border-radius: .625rem;
    height: 26rem;
}

.grid-discos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
}

.carrusel-container {
    position: relative;
    width: 100%;
}

.btn-prev,
.btn-next {
    display: none;
}

.disco {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 10rem;
}

.disco a {
    text-decoration: none;
}

.disco img {
    width: 100%;
    border-radius: .625rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.disco img:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
}

.disco p {
    margin-top: 0.5rem;
    font-family: "Oswald", sans-serif;
    color: #edd074;
    font-size: .9375rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* SECCIÓN CONCIERTOS */
.conciertos {
    height: auto;
    min-height: 35rem;
    text-align: center;
    background: linear-gradient(135deg, #030304, #0c0b18, #0c0b0b);
    box-shadow: 0 -0.625rem 1.875rem rgba(22, 20, 20, 0.2);
    z-index: 1;
}

.panel-conciertos {
    padding: 1.25rem;
}

.bit-widget .bit-offers {
    background-color: #831C18 !important;
    color: #FFFFFF !important;
    border-color: #831C18 !important;
}

.bit-widget .bit-rsvp {
    color: #FFF !important;
    border: 1px solid #831C18 !important;
}


/* SECCIÓN CONTACTO*/
.contacto {
    height: auto;
    /* min-height: 34rem; */
    text-align: center;
    background-color: #000;
    padding-top: 4rem;
    z-index: 1;
}

.panel-contacto {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.redes-contacto,
.formulario-contacto {
    flex: 1;
}

.redes-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.logo-contacto {
    display: block;
    margin: 20px auto;
    max-width: 400px;
    height: auto;
}

.barra-vertical {
    width: 2px;
    height: 250px;
    background: linear-gradient(to bottom,
            #FFFFFF00,
            #FFFFFFFF,
            #FFFFFF00);
    border-radius: 2px;
}

.formulario-contacto input {
    font-family: "Oswald", sans-serif;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.formulario-contacto textarea {
    font-family: "Oswald", sans-serif;
    width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 250px;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #fff;
    border-radius: 5px;
    background: #fff;
    color: #000;
    height: auto;
    resize: vertical;
    overflow: auto;
    box-sizing: border-box;
    overflow-y: auto;
}


.formulario-contacto button {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    padding: 12px 25px;
    background: #831c18;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 auto;
    display: block;
}

.formulario-contacto button:hover {
    background: #5a1d1b;
}

#estado-formulario {
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
}


/* FOOTER */
.footer {
    position: relative;
    text-align: center;
    /* Centra el texto */
    padding: 15px 0;
    background-color: #000000;
    /* Cambia el color si quieres */
    color: #fff;
    font-size: 14px;
    width: 100%;
    z-index: 1;
}

.footer p {
    margin: 0;
    font-family: "Oswald", sans-serif;
}


/* Animación */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(1.5625rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Tablets */
@media (max-width: 1024px) and (min-width: 760px) {
    header {
        height: 8rem;
    }

    .menu {
        display: none;
    }

    .cabecera img {
        width: 7rem;
        height: 7rem;
    }

    .hamburger {
        display: block;
        margin: 1rem;
        font-size: 4em;
    }

    .mobile-menu.open {
        right: 0;
    }


    .mobile-menu a {
        font-size: 4em;
    }

    .logo img {
        width: 35rem;
        height: 42rem;
    }

    .platforms {
        gap: 1.5rem;
    }

    .platforms a {
        font-size: 3em;
    }

    h2 {
        font-size: 3em;
    }


    /* HISTORIA */
    .historia {
        min-height: 80rem;
    }

    .panel-historia {
        flex-direction: column;
        /* Para que texto quede arriba */
        align-items: stretch;
        /* Ocupa todo el ancho */
        gap: 1.50rem;
    }

    .historia-imagen,
    .historia-texto {
        flex: unset;
        /* Quita el flex: 1 que fuerza el tamaño */
        width: 100%;
        /* Asegura que ocupen todo el ancho */
    }

    .historia-texto p {
        font-size: 2rem;
        /* Texto un poco más pequeño para móvil */
    }

    /* SECCIÓN MÚSICA */
    .musica::before {
        background-position: center;
    }

    .musica {
        min-height: 88rem;
    }

    .panel-musica {
        flex-direction: column;
        align-items: stretch;
        gap: 1.75rem;
    }

    .musica-spotify,
    .musica-discografia {
        flex: unset;
        width: 100%;
    }

    .iframe-Spotify {
        height: 36rem;
    }

    .grid-discos {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        justify-content: flex-start;
        padding: 0 .625rem;
        gap: 1rem;
        -webkit-overflow-scrolling: touch;
    }

    .disco {
        flex: 0 0 50%;
        scroll-snap-align: start;
        max-width: none;
    }

    .grid-discos::-webkit-scrollbar {
        display: none;
    }

    .disco img:hover {
        box-shadow: none;
        transform: none;
    }

    /* Flechas activadas solo en esta vista */
    .btn-prev,
    .btn-next {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.4);
        color: white;
        border: none;
        font-size: 3rem;
        cursor: pointer;
        z-index: 10;
        padding: 0.5rem 0.75rem;
        transition: background 0.3s;
    }

    .btn-prev {
        left: 0.5rem;
    }

    .btn-next {
        right: 1.5rem;
    }

    .disco p {
        font-size: 2rem;
    }

    /* SECCIÓN CONCIERTOS */
    .conciertos {
        min-height: 39rem;
    }

}

/* Móviles */
@media (max-width: 760px) {
    .menu {
        display: none;
    }

    header {
        height: 6rem;
    }

    .cabecera img {
        width: 5rem;
        height: 5rem;
    }

    .hamburger {
        display: block;
        font-size: 3em;
    }

    .mobile-menu.open {
        right: 0;
    }

    .mobile-menu a {
        font-size: 2em;
    }

    .historia {
        min-height: 55rem;
    }

    .panel-historia {
        flex-direction: column;
        /* Para que texto quede arriba */
        align-items: stretch;
        /* Ocupa todo el ancho */
    }


    .historia-imagen,
    .historia-texto {
        flex: unset;
        /* Quita el flex: 1 que fuerza el tamaño */
        width: 100%;
        /* Asegura que ocupen todo el ancho */
    }

    .historia-texto p {
        font-size: 1.2em;
    }

    /* SECCIÓN MÚSICA */
    .musica {
        height: 150vh;
        min-height: 80rem;
    }

    .musica::before {
        background-position: center;
    }

    .panel-musica {
        flex-direction: column;
        align-items: stretch;
    }

    .musica-spotify {
        flex: unset;
        width: 100%;
    }

    .iframe-Spotify {
        height: 45.625rem;
    }

    .musica-discografia {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .grid-discos {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        scroll-padding-left: 0;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        gap: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        scroll-padding-left: 0;
        box-sizing: border-box;
    }

    .grid-discos::-webkit-scrollbar {
        display: none;
    }

    .disco {
        flex: 0 0 100%;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        max-width: none;
    }

    .disco img {
        width: 100%;
        /* ocupa todo el ancho del disco */
        height: auto;
        max-width: none;
        /* elimina limitación */
        object-fit: cover;
        border-radius: 0.5rem;
        padding: 0 0.25rem;
        display: block;
    }

    .disco img:hover {
        box-shadow: none;
        transform: none;
    }

    /* Flechas activadas solo en esta vista */
    .btn-prev,
    .btn-next {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.4);
        color: white;
        border: none;
        font-size: 1.7rem;
    }

    .btn-prev {
        left: 0.5rem;
    }

    .btn-next {
        right: 0.5rem;
    }


    /* SECCIÓN CONCIERTOS */
    .conciertos {
        min-height: 40rem;
    }
}